In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://www.billboard.com/charts/hot-100/"

In [3]:
html = requests.get(url)
soup = BeautifulSoup(html.text, "html.parser")

In [5]:
artists = []

artist_items = soup.find_all('li', class_="o-chart-results-list__item")

for item in artist_items:
    artist_name = item.find('span', class_='c-label')
    if artist_name:
        name = artist_name.text.strip()
        if not name.isdigit():
            artists.append(name)
        else:
            positions.append(int(name))

In [9]:
artistas = [item for item in artists if item != "-" and item != "NEW" and item != "RE-\nENTRY"]

In [16]:
songs = []

song_items = soup.find_all('li', class_="o-chart-results-list__item")

for item in song_items:
    song_name = item.h3
    if song_name:
        song = song_name.text
        songs.append(song.strip())

In [28]:
import numpy as np

posiciones = np.arange(1, 101)

In [29]:
data = []

for i in range(len(songs)):
    data.append(
        {
            "Song": songs[i],
            "Artist": artistas[i],
            "Position": posiciones[i]
        }
    )

In [32]:
import pandas as pd

df = pd.DataFrame(data)

In [33]:
df

                        Song                              Artist  Position
0   Try That In A Small Town                        Jason Aldean         1
1                 Last Night                       Morgan Wallen         2
2                   Fast Car                          Luke Combs         3
3                   Fukumean                               Gunna         4
4                  Calm Down                 Rema & Selena Gomez         5
..                       ...                                 ...       ...
95               Johnny Dang  That Mexican OT, Paul Wall & DRODi        96
96                   Save Me       Jelly Roll With Lainey Wilson        97
97                       S91                             Karol G        98
98               Talibans II            Burna Boy & Byron Messia        99
99                Equal Dirt                      Rylo Rodriguez       100

[100 rows x 3 columns]

In [34]:
import datetime

fecha_actual = datetime.datetime.now().strftime("%d-%m-%Y")

df.to_csv(f"../hot100/Billboard Hot 100-{fecha_actual}.csv", index=False)